.wrapper{
  box-sizing: border-box;
  text-align: center;
  align:center;
  position: absolute;
  width: 100%;
  min-height: 300px;
  font-size: 1.5em;
}
.form input[type="text"],
.form input[type="password"]{
	width: 30%;
  	height: 40px;
  	text-align: center;  	
}
button{
	width: 15%;
  	height: 40px;
  	text-align: center;
  	font-size: 16px;
  	
}
.remember-container{
  position: relative;
  width:100%;
}
.checkbox, .checkbox:focus {
  top: 2px;
  width: 18px;
  height: 14px;
  position: relative;
  cursor: pointer;
 -webkit-appearance: none;
  background: transparent;
  display: inline-block;
}
.remember{
  position: relative;
}

.checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:checked {
  background: rgba(3,3,3,.4);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.5);
	color: #fff;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 10px;
	position: absolute;
	top: 0px;
	left: 4px;
	color: #fff;
}