div{
    padding-top: 1%;    
}
footer{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}
.orders{
	padding: 1cm 1cm 1cm 1cm;
	
}
.orderDetails{
	padding: 1cm 1cm 1cm 1cm; 
	width:80vw; 
	height:100%; 
	border:solid;
}

.items tr th, .items tr td{
	border:solid #e5e4e2;
	width: 33%;
	height:100px;
	text-align:center;
	
}
.products{
	padding:0.5cm 0.5cm 0.5cm 0.5cm;
	
}
.stock{
    padding:0.5cm 1.5cm 0.5cm 1.5cm;
    border: solid #e5e4e2;
    width:100%;
    height:100%;
    text-align:center;
    
}
.stock th{
  border: solid #e5e4e2;
  height:20%;
  font-size: 18px; 
  text-align:center;
}
.stock tr{
  border: solid #e5e4e2;
  width:100%;
}
.modal{ 
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);  
}
#itemModal{ 
   z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,.5);  
  text-align: center;
  margin: auto;
}
.itemContent{
  position: absolute; 
  top: 100px;
  left:15%;
  width: 60%;
  height:60vh;
  background-color: #fefefe;
  text-align: center;
  float:center;
}
.itemUpdate div input{
	width:50%;
	margin-left:0px;
    margin-right:120px;
}
.itemUpdate div label {
	width:5%;
    clear: both;
    float:left;
    margin-left:120px;
    margin-right:0px;
}
.itemUpdate div button {
  	padding: 0.5cm 1cm 0.5cm 1cm;
  	float:center;

}