.form-wrapper {
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  width: 100%;
  min-height: 300px
}
.form-wrapper input[type="text"],
.form-wrapper input[type="email"],
.form-wrapper input[type="password"]{
  display: block;
  padding: 10px;
  margin: 10px auto;
  background-color: white;
  border-color: silver;
  border: 2px solid #ccc;
  width: 50%;
  outline: none;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
  color: black;
  text-align: center;
}
input:focus::-webkit-input-placeholder {
   opacity: 0;
   text-align: center;
}
.form-control.error {
    border-color: red;
}
.form-hint {
    font-size: 7pt;
    line-height: 9pt;
    margin: -5px auto 5px;
    color: #999;
}
.form-hint.error {
    color: #C00;
    font-weight: bold;
    font-size: 8pt;
}


