.shop{
    font-family: "Times New Roman", Times, serif;
    font-style: oblique;
  	font-size: 20px; 
  	margin: 0 1cm 0 1cm;
}
.item{
    font-family: "Times New Roman", Times, serif;
    font-style: oblique;
  	font-size: 24px; 
  	margin: 0 1cm 0 1cm;
}
.productsTable{
	display:inline-block;
    padding:0 0.5cm 0 0.5cm;
    border: solid #e5e4e2;
    float:left;
}
.productsTable tr{
	display:inline-block;
	padding:0 0.5cm 0 0.5cm;
	width: 333px;
	height:600px;
	float:left;
	align:center;
}
.productsTable td{ 
	width:333px; 
	height:600px; 
	text-align:center;
	align:center;
}
.options{
	height:20%;
	width:100%; 
	border:solid; 
	color:#e5e4e2;
	padding:0.5cm 0 0.5cm 0;
	display:inline-block;
}
.options div{
	width:40%;
	float:left;
	padding: 0.5cm 0.5cm 0.5cm 0.5cm;
	left: 15px;
}
.options .dropdown{
	width:10%;
}
.productOrder{
	width:20%; 
	padding: 0.5cm 1cm 0.5cm 1cm;
	display:inline-block;
	text-align:center;
	font-size: 24px; 
}