<link rel="stylesheet" type="text/css" href="static/app/css/login.scss">
<navbar></navbar>
<div class="wrapper">
	<h1>Login</h1>
	<div class="containers">
	    <form class="form" ng-submit="adminLogin()">
	    <div>
			<input type="text" placeholder="Username" ng-model="adminUsername"
				id="Username" name="username" required="required"> 
		</div>
		<div>
			<input type="password" placeholder="Password" ng-model="adminPassword"
				id="Password" name="password" required="required">
		</div>	
		<div>
			<button class="btn btn-default" type="submit" id="login-button" ng-submit="LoginButton()">Login</button>
		</div>	    
		</form>
	</div>
</div>
