<navbar></navbar>
<div align="center">
	<h1>{{thisAdmin.username}} </h1>
	 	<div>
			 <input style="width:40%;" type="text" class="form-control" placeholder="Search" ng-model="searchBox">
		 </div>
	<div class="orders" >
		<div class="orderDetails" ng-repeat="o in orders | orderBy:o.date:reverse | filter:searchBox track by $index">
			<div>
				<h4>Order</h4>
				<div>
					OrderId: {{o.id}}
				</div>
				<div>
					Total: € {{o.paidAmount}}
				</div>
				<div>
					Payment Type: {{o.paymentType}}
				</div>
				<div>
					Date: {{o.date | date : "d/M/yy h:mm a"}} 
				</div>
				<div>
					<h4>User</h4>
					<div>Username: {{o.user.username}} </div>
					<div>Email: {{o.user.email}} </div>
					<div ng-repeat="a in addressList" ng-if="a.order.id == o.id">
						Billing Address: {{a.addr1}} |  {{a.addr2}} | {{a.city}} | {{a.country}}
					</div>
				</div>
			</div>
			<div>
				<h4>Items</h4>
				<table class="items">
				  <tr>
				    <th>Item</th>
				    <th>Quantity</th>
				    <th>Cost</th>
				  </tr>
				  <tr ng-repeat="i in items" ng-if="i.order.id == o.id">
				    <td>{{i.itemName}}</td>
				    <td> {{i.itemQuantity}}</td>
				    <td>€ {{i.cost}}</td>
				  </tr>
				 </table>
			</div>
		</div>
	</div>
</div>
