<navbar></navbar>
<div class="cartModal">
	<div class="modal-content" align="center" style="height:85vh;"> 
		<div style="text-align: center;" >
		<!-- ng-if="cartitems.length != 0" -->
			<div class="clear" align="right" style="padding:0 1cm 0 1cm;">
				<i ng-click="clearCart(cartId)" class="fa fa-trash fa-2x"></i>
			</div>
			<div ng-model="totalPayment">
				<h4>Total | <i class="fa fa-euro"></i> {{totalPayment}} </h4>
			</div>
			<div ng-if="cartItems.length == 0">
				<h1>Empty Cart</h1>
			</div>
			<table data-ng-repeat="item in cartItems track by $index" align="center">
				<tr>
					<td>
					<img style="width: 180px; height: 190px;"	ng-src="https://s3-eu-west-1.amazonaws.com/electronicshop/{{item.product.productImage}}">
					</td>
					<td class="td2" style="width: 70%;">
						<div class="productName"><h4>{{item.product.productName}}</h4></div>
						<div class="price">
							<div ><h4>Price | <i class="fa fa-euro"></i>{{item.totalPrice}}</h4></div>
							<div ><h4>Dicount | <i class="fa fa-euro"></i>{{item.discount}}</h4></div>
							<div ><h4>Cost | <i class="fa fa-euro"></i>{{item.cost}}</h4> </div>
							<div ><h4>Quantity | {{item.quantity}}</h4> </div>
							<div style="height: 0px;"
								data-ng-repeat="p in cartItemProducts track by p.productId">
								<div ng-if="p.productId == item.product.productId">{{p.productPrice}}</div>
							</div>
						</div>
					</td>
					<td style="width: 15%;">
						<a ng-click="deleteItem(item.product.productId)">
							<i class="fa fa-close fa-5x" aria-hidden="true"></i>
						</a>
					</td>
				</tr>
			</table>
			<div class="btn-group btn-group-lg">
				<button ng-click="checkoutBtn(totalPayment)" id="checkoutBtn"
					class="btn btn-default">Checkout</button>
			</div>
		</div>
		
	</div>
</div>