<link rel="stylesheet" type="text/css" href="static/app/css/main.scss">
<navbar></navbar>
<div class="orders" >
		<h2> {{thisUser.username}} | Orders </h2>
		<div class="orderDetails" ng-repeat="o in userOrders | orderBy:o.date:reverse ">
			<div>
				<h4>Order</h4>
				<div>
					OrderId: {{o.id}}
				</div>
				<div>
					Total: € {{o.paidAmount}}
				</div>
				<div>
					Payment Type: {{o.paymentType}}
				</div>
				<div>
					Date: {{o.date | date : "d/M/yy h:mm a"}} 
				</div>
				<div ng-repeat="a in addressList" ng-if="a.order.id == o.id">
					Billing Address: {{a.addr1}} |  {{a.addr2}} | {{a.city}} | {{a.country}}
				</div>
			</div>
			<div>
				<h4>Items</h4>
				<table class="items">
				  <tr>
				    <th>Item</th>
				    <th>Quantity</th>
				    <th>Cost</th>
				  </tr>
				  <tr ng-repeat="i in allOrders" ng-if="i.order.id == o.id">
				    <td>{{i.itemName}}</td>
				    <td> {{i.itemQuantity}}</td>
				    <td>€ {{i.cost}}</td>
				  </tr>
				  </table>
			</div>
		</div>
</div>
