<link rel="stylesheet" type="text/css" href="static/app/css/shop.scss">
 <navbar></navbar>
 <div class="item" align="center">
 <table>
 	<tr style="width:100%;" >
	 	<td style="width:50%;">	
	 		<h1>{{product.productName}}</h1>
	 		<img style="width: 400px; height: 400px;"ng-src="https://s3-eu-west-1.amazonaws.com/electronicshop/{{product.productImage}}">
	 	 </td>
	 	<td style="width:50%;"> 
		 	<div>
		 		<label>Quantity: </label><input type="number" min="1" max="5" ng-model="quantity"></input>
				<button class="btn btn-default" ng-show="c.product.productId!==product.productId" ng-click="addItem(product.productId, quantity)">Add</button>				
			</div>
			<div> € {{product.productPrice}} </div>
			
			<div>{{product.productManufacturer}} | {{product.productCategory}}</div>
			
			<div>{{product.productStatus}}</div>
			<div>{{product.productDescription}}</div>
	 	</td> 	
 	</tr>
 	<tr style="width:100%;">
	 	<td id="commentForm"> 
	 	 	<div style="width:15%; float:left;" ng-repeat="r in reviewAverageList" ng-if="r.id == product.productId">Rate: {{r.rating}}</div>
	 		<div rate rating="rating1" click="click1(param, product.productId)" style="width:40%; float:left;"></div>
			<div style="width:10%; float:left;">{{rating1}}</div>
	 	</td>	
 	</tr>
 	<tr style="width:100%;">
 		<td>
 			<form id="commentForm">
				<input ng-model="comment" class="form-control" required />
				<button type="submit" class="btn btn-default" ng-click="addComment(product.productId, comment)">Send</button>
 			</form>
 		</td>
 	</tr>
 </table>
 <div> 
 	<div ng-repeat="c in commentsList | orderBy: -posted " ng-if="c.product.productId == product.productId" style="display:table; width:100%; height:100%;"> 
		<div class="imgTD" style="display:inline-block; float:left; width:10%; height:15%;">
			<img style="width:40px; height:35px;" ng-src="https://awsimagesfiles.s3.amazonaws.com/{{c.user.profileImage}}">
		</div>
	    <div class="usernameTD" style="float:left; width:20%; height:15%;">
	    	<b> {{c.user.username}}::  </b>
	    </div>
	    <div class="commentTD" style="float:left; width:65%; height:15%; text-align:left;">
	    	<i>  {{c.comment}} </i>
	    </div>
	    <div style="float:right; width:5%; height:15%;" ng-if="c.user.userid == thisUser.userid">
	    	<button class="btn btn-default" ng-click="deleteComment(c.id)"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i></button>
	    </div>
	</div>
 </div>
</div>	

