<link rel="stylesheet" type="text/css" href="static/app/css/login.scss">
<navbar></navbar>
<div class="wrapper">
	<h1>Login</h1>
	<div class="containers">
	    <form action="/ElectronicStore/login" method="POST" class="form" accept-charset="utf-8">
	    <div>
			<input type="text" placeholder="Username" ng-model="Username"
				id="Username" name="username" required="required"> 
		</div>
		<div>
			<input type="password" placeholder="Password" ng-model="Password"
				id="Password" name="password" required="required">
		</div>	
		<div>
			<button class="btn btn-default" type="submit" id="login-button" ng-submit="LoginButton()">Login</button>
		</div>	 
		<div class="remember-container">
			      <input type="checkbox" ng-click="checkBoxClicked(checkboxModel)" ng-checked="true" ng-init="checkboxModel=true" ng-model="checkboxModel" class="checkbox" />
			      <span class="remember">Remember me</span>
   			 </div>		   
		</form>
	</div>
</div>
