<link rel="stylesheet" type="text/css" href="static/app/css/payment.scss">
<navbar></navbar>
<div class="container">
	<div class="wrapper">
		<form class="form-wrapper" ng-submit="paymentForm()"  id="payment-form">
			<div class="total" ng-model="totalPayment" >
					<h2>Total: {{totalPayment}}</h2>						
				</div>
     		 <h3>Details</h3>
     		 <label>
				<input class="field is-empty" type="text" name="name" id="name" placeholder="Name" ng-model="name">
			    <span><span>Name</span></span>
			  </label>
     		 <label>
          	    <input class="field is-empty" type="text" name="email" id="email" placeholder="Email" ng-model="email">
			    <span><span>Email</span></span>
			  </label>
			  <label>
			    <input class="field is-empty" type="tel" name="phone" id="phone" placeholder="Phone" ng-model="phone" />
			    <span><span>Phone</span></span>
			  </label>
           
            <h3>Address</h3>
	             <label>
	         		<input class="field is-empty" type="text" name="country" id="country" placeholder="Country" ng-model="country">
				    <span><span>Country</span></span>
				  </label>
				   <label>
	          		<input class="field is-empty" type="text" name="address1" id="address1" placeholder="Address 1" ng-model="addr1">
				  	<span><span>Address 1</span></span>
				 	</label>
				   <label>
	          		<input class="field is-empty" type="text" name="address2" id="address2" placeholder="Address 2" ng-model="addr2">
				    <span><span>Address 2</span></span>
				  </label>
				   <label>
	          		<input class="field is-empty" type="text" name="address3" id="address3" placeholder="Address 3" ng-model="addr3">
				    <span><span>Address 3</span></span>
				  </label>
				   <label>
	          		<input class="field is-empty" type="text" name="city" id="city" placeholder="City" ng-model="city">
				    <span><span>City</span></span>
				  </label>
			 	<div class="paymentType">
					<input type="radio" ng-model="creditCard" name="r1" id="r1"
						value="creditCard" ng-checked="" ng-click="billing()"> <label for="r1">
						<h4>Credit Card</h4>
					</label>
				</div>
				<div class="paymentType">
					<input type="radio" ng-model="paypal" name="r1" id="r2"
						value="paypal" ng-click="delivery()"><label for="r2">
						<h4>PayPal</h4>
					</label>
				</div>
				<div ng-show="paypal" class="paypal">
					<h3>PayPal Payment</h3>
					
		     		 <label>
		          	    <input class="field is-empty" type="text" name="payPalEmail" id="payPalEmail" placeholder="payPalEmail" ng-model="payPalEmail">
					    <span><span>Email</span></span>
					  </label> 
					  <label>
						<input class="field is-empty" type="passowrd" name="payPalPassword" id="payPalPassword" placeholder="payPalPassword" ng-model="payPalPassword">
					    <span><span>Password</span></span>
					    <button class="btn btn-success btn-lg" ng-click="payPalSubmit()">Pay</button>
					    
					  </label>  
					  <div>
					  </div>		 
					
				</div>
				<div ng-show="creditCard">
					<h3>Credit Card Payment </h3>
					<label>
					    <input name="cardholder-name" class="field is-empty" placeholder="Jess Joe" ng-model="cardholdername" />
					    <span><span>Cardholder Name</span></span>
					  </label>
						<span><span>Card</span></span>
					    <div id="card-element" ></div>
					
					  <button type="submit">Pay €{{totalPayment}}</button>
					  <div class="outcome">
					    <div class="error"></div>
					    <div class="success">
					      Success! Your Stripe token is <span class="token"></span>
					    </div>
					  </div>
				 </div>
	        </form>
	</div>
</div>


		