<link rel="stylesheet" href="static/app/css/reg.scss">
<navbar></navbar>
<div>
	<form id="userForm" name="userForm" ng-model="userForm" class="form-wrapper" ng-submit="Register()" class="form" novalidate>
				<h3>Register</h3>
				<h3>{{message}}</h3>
				
				<div ng-class="{ 'has-error' : userForm.regUsername.$invalid && !userForm.regUsername.$pristine }">
					<input type="text" ng-model="regUsername" name="regUsername" id="regUsername" placeholder="Username" ng-required="required" ng-minlength="6" ng-maxlength="30" class="form-control">
					<p ng-show="userForm.regUsername.$error.minlength" class="help-block">Username is too short, minimum 6.</p>
					<p ng-show="userForm.regUsername.$error.maxlength" class="help-block">Username is too long, max 30.</p>
				</div>
				<div ng-class="{ 'has-error' : userForm.regEmail.$invalid && !userForm.regEmail.$pristine }">
					<input type="email" name="regEmail" ng-model="regEmail"
						class="form-control" placeholder="Email" ng-required="required">
					<p ng-show="userForm.regEmail.$invalid && !userForm.regEmail.$pristine"
						class="help-block">Enter a valid email.</p>
				</div>
				<div>
		            <input type="password" class="form-control" placeholder="Password" ng-model="regPassword" id="regPassword"><br>
					<input type="password" class="form-control" placeholder="Confirm Password" ng-model="confirmPassword" id="confirmPassword"><br>
					<div class="help-block registrationFormAlert" id="divCheckPasswordMatch" > </div>
				</div>
				<p ng-show="userForm.regUsername.$invalid && !userForm.username.$pristine"
					class="help-block">Username is required.</p>
			
				<p ng-show="userForm.regUsername.$invalid && !userForm.username.$pristine"
					class="help-block">Username & Email are required.</p>
				
				<button type="submit" class="submit btn btn-default" ng-disabled="userForm.$invalid" >Register</button>

	</form>	
</div>