<link rel="stylesheet" type="text/css" href="static/app/css/shop.scss">
<navbar></navbar>
 <div class="shop">	
	<div class="options" >
		<div class="dropdown nav-item dropdown">
		  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><h3>Category</h3></a>
		   <div class="dropdown-menu">
		      <a class="dropdown-item" ng-click="getCategory(category1)"><h4 ng-init="category1='LAPTOP'">Laptops</h4></a>
		      <a class="dropdown-item" ng-click="getCategory(category2)"><h4 ng-init="category2='TABLET'">Tablets</h4></a>
		      <a class="dropdown-item" ng-click="getCategory(category3)"><h4 ng-init="category3='TV'">TV</h4></a>
		      <a class="dropdown-item" ng-click="getCategory(category4)"><h4 ng-init="category4='AUDIO'">Audio</h4></a>
		      <a class="dropdown-item" ng-click="getCategory(category5)"><h4 ng-init="category5='ALL'">ALL</h4></a>
		    </div>
		 </div>
		 <div class="dropdown nav-item dropdown">
		  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><h3>Brand</h3></a>
		   <div class="dropdown-menu">
		      <a class="dropdown-item" ng-click="getBrand(brand1)"><h4 ng-init="brand1='Apple'">Apple</h4></a>
		      <a class="dropdown-item" ng-click="getBrand(brand2)"><h4 ng-init="brand2='Samsung'">Samsung</h4></a>
		      <a class="dropdown-item" ng-click="getBrand(brand3)"><h4 ng-init="brand3='Toshiba'">Toshiba</h4></a>
		      <a class="dropdown-item" ng-click="getBrand(brand4)"><h4 ng-init="brand4='LG'">LG</h4></a>
		      <a class="dropdown-item" ng-click="getBrand(brand5)"><h4 ng-init="brand5='ASUS'">ASUS</h4></a>
		      <a class="dropdown-item" ng-click="getBrand(brand6)"><h4 ng-init="brand6='Sony'">Sony</h4></a>
		      <a class="dropdown-item" ng-click="getBrand(brand7)"><h4 ng-init="brand7='ALL'">ALL</h4></a>
		    </div>
		 </div>
		 <div>
			 <input style="width:100%;" type="text" class="form-control" placeholder="Search" ng-model="searchBox">
		 </div >
	 </div>
	 <div style="color:red;" align="center">
		 	<h3>Offers</h3>	
		 	<h4> > €50 : 5% off	 | >  €150 : 10% off  | > €450 : 15% off</h4>
	 </div>
	 <div style="color:black; width:100%;"> OrderBy:
		    <div class="productOrder" ng-click="sortBy('productName')">Title</div>
		    <div class="productOrder" ng-click="sortBy('productManufacturer')">Brand</div>
		    <div class="productOrder" ng-click="sortBy('productCategory')">Category</div>
		    <div class="productOrder" ng-click="sortBy('productPrice')">Price</div>
		 </div>
	<table  class="productsTable" ng-repeat="p in productsList | orderBy:propertyName:reverse| filter:searchBox track by $index">	
	  <tr>
		<td class="product" align="center" ng-click="viewItem(p)">
			<div>{{p.productName}}</div>
			<div>
				<img style="width: 200px; height: 200px;"ng-src="https://s3-eu-west-1.amazonaws.com/electronicshop/{{p.productImage}}">
			</div>
			<div> € {{p.productPrice}} </div>
			
			<div>{{p.productManufacturer}} | {{p.productCategory}}</div>
			
			<div>{{p.productStatus}}</div>
	
			<div>
				<div style="display:inline-block; width:100%;">
					 <div style="width:100%; float:left;" ng-repeat="r in reviewAverageList" ng-if="r.id==p.productId">Rate: {{r.rating}}</div>
				</div>
			</div>
			<button class="btn btn-default" ng-show="c.product.productId!==p.productId" ng-click="addItem(p.productId)">Add</button>
		</td>
	  </tr>
	</table>
</div>