<link rel="stylesheet" type="text/css" href="static/app/css/main.scss">
<navbar></navbar>
<div align="center">
	<h1>{{thisAdmin.username}} | Stock</h1>
	 	<div>
			 <input style="width:40%;" type="text" class="form-control" placeholder="Search" ng-model="searchBox">
		 </div>
	<div class="products" > 
		<table class="stock" >
		  <tr>
		    <th>Image</th>
		    <th ng-click="sortBy('productName')">Title</th>
		    <th ng-click="sortBy('productManufacturer')">Brand</th>
		    <th ng-click="sortBy('productCategory')">Category</th>
		    <th ng-click="sortBy('unitInStock')">Stock</th>
		    <th ng-click="sortBy('productPrice')">Price</th>
		  </tr>
		  <tr ng-repeat="p in productsList | orderBy:propertyName:reverse | filter:searchBox track by $index" ng-click="updateStock(p)">
		 		<td>				
		 			<img style="width: 100px; height: 80px;"ng-src="https://s3-eu-west-1.amazonaws.com/electronicshop/{{p.productImage}}">
				</td>
		 		<td>{{p.productName}}</td>
		 		<td>{{p.productManufacturer}}</td>
		 		<td>{{p.productCategory}}</td>
		 		<td>{{p.unitInStock}}</td>
		 		<td>€ {{p.productPrice}}</td>
		  </tr>
		 </table>
	</div>
</div>

<div id="itemModal" class="modal">
	<div class="itemContent">
		<div class="productswrapper" align="center">
			<form ng-submit="updateItem(item.productId, item.unitInStock, item.productPrice)" class="itemUpdate">
				<div>				
		 			<img style="width: 200px; height: 200px;"ng-src="https://s3-eu-west-1.amazonaws.com/electronicshop/{{item.productImage}}">
				</div>
				<div>
					<label><h4>Title</h4></label>
					<input  class="form-control" type="text"  ng-model="item.productName" readonly/>
				</div>
				<div>
					<label><h4>Brand</h4></label>
					<input  class="form-control" type="text"  ng-model="item.productManufacturer" readonly/>
				</div>
				<div>					
					<label><h4>Category</h4></label>
					<input  class="form-control" type="text"  ng-model="item.productCategory" readonly/>
				</div>
				<div>
					<label><h4>Stock</h4></label>
					<input  class="form-control" type="text"  ng-model="item.unitInStock"/>
				</div>
				<div>
					<label><h4>Price</h4></label>
					<input  class="form-control" type="text"  ng-model="item.productPrice"/>
				</div>
				<div>			
					<button class="btn btn-success btn-lg" type="submit">Update Item</button>
				</div>
			</form>
		</div>
	</div>
</div>