<style >
.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size:20px;
}
.rating .filled, .rating li label:hover {
    color: orangered;
}
.clear{
  margin-top:20px;
} 
</style>

<div>
	<ul class="rating">
       <li ng-repeat="star in maxRatings track by $index" id="rateCtrl"> 
            <label for="rateCtrl" class="fa fa-star fa-2x" ng-Click='isolatedClick($index + 1)'></label> 
         </li>
    </ul>
</div>
