<nav class="navbar fixed-top  navbar-inverse bg-inverse" role="navigation">
 <div class="container" data-ng-show="adminauthenticated">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" ng-click="adminlogout()" ><h3>Logout</h3></a>
    <a class="navbar-brand" href="#/admin"><h3>Orders</h3> </a>
    <a class="navbar-brand" href="#/stock"><h3>Stock</h3> </a>
  </nav>
 </div>
 <div class="container" data-ng-show="!authenticated && !adminauthenticated">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="#/login">Login</a>
    <a class="navbar-brand" href="#/register">Register</a>
  </nav>
 </div>
 <div class="container" data-ng-show="authenticated" style="width:100%; color:#64bbef; ">
  <nav class="navbar fixed-top  navbar-toggleable-md navbar-light bg-faded">
 	<div style="float:left;  padding:0 1.5cm 0 0;">
 	 	<h1>Electronic Store</h1>
 	</div> 
    <div style="display:inline; ">
    	<a class="navbar-brand" href="#/customer"><h3>Profile</h3></a> 
    </div>
   <div style=" display:inline;">
   		<a class="navbar-brand" href="#/"><h3>Shop</h3> </a>
   </div>
   <div style=" display:inline;">
   		<a class="navbar-brand" href="#/payment"><h3>Checkout</h3> </a>
   </div>
    <div style=" display:inline;">
   		<a class="navbar-brand" ng-click="logout()"  ng-href="/ElectronicStore/logout"><h3>Logout</h3></a>
   </div>
    <div style="float:right; display:inline;">
      <h3><b>{{cartItems.length}}</b><b ng-if="cartItems.length == 0"> </b><a href="#/cart"><i style="color:#64bbef;" class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a></h3>
    </div>
  </nav>
</div>
</nav>


